/* || BLock - Company our story base
   ========================================================================== */

// 1. Feature
// Responsive images and columns

.company-our-story-base {
  padding-top: 120px;
  padding-bottom: 120px;
}

.company-img-row {
  margin-bottom: 90px;
}

.company-img-wr {
  height: 400px;
}