/* || Component - Scroll to top btn anim
   ========================================================================== */

// 1. Features
// Rounded icon with animation on display

.scroll-to-top-btn-anim {
  width: 44px;
  height: 44px;
  right: 30px;
  bottom: 0;
  opacity: 0;
  transition: opacity 1s, bottom 1s;
}

.scroll-tt-ba-active {
  bottom: 30px;
  opacity: 1;
}