/* || Component - Img overlapping tile
   ========================================================================== */
// 1. Features
// The tile image overlap over an even bigger image

@import '../../../abstracts/variables-ls';

.image-overlap-tile {}

.image-ot-wr {
  width: 100%;
  position: relative;
}

.image-ot-img-1-wr {
  width: 80%;
}

.image-ot-img-1 {
  width: 100%;
}

.image-ot-img-2-wr {
  width: 40%;
  position: absolute;
  right: 0;
  bottom: -40px;
  background-color: $body-bg;
  padding: 6px 0 0 6px;
}

.image-ot-img-2 {
  width: 100%;
}