/* || Block - Blog link card list
   ========================================================================== */

// 1. Features
// Contains tag, lead, card of blog with tags, image, date and tittle

.blog-link-card-list {
  padding-bottom: 120px;
}

.blog-lcl-card-ctr {
  padding-top: 30px;
}

.blog-lcl-tag-link {
  @include link-basic($color: false,
    $color-visited: false,
    $color-focus: false,
    $color-hover: #{$white} !important,
    $color-active: false,
    $bg-color: false,
    $bg-color-visited: false,
    $bg-color-focus: false,
    $bg-color-hover: #{$tertiary} !important,
    $bg-color-active: false,
    $outline: 2px solid #{$tertiary} !important,
    $cursor: pointer,
    $transition: (all 0.3s));
}

.blog-lcl-card-img-relative-wr {
  @include media-breakpoint-up(xl) {
    height: 250px !important;
  }
}

.blog-lcl-card-img-wr {
  @include media-breakpoint-up(lg) {
    position: absolute;
    left: 0;
    right: -27px;
    top: 0;
    bottom: -32px;
  }

  @include media-breakpoint-up(xl) {
    bottom: -64px;
    right: -40px;
  }
}