/* Component - Link circle bg icon
   ========================================================================== */

// 1. Features
// Fixed size circle background in the starting
// Leading svg icon

@import '../../../../node_modules/bootstrap/scss/variables';

.link-circle-bg-icon {
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: $primary;
    border-radius: 50%;
    opacity: .05;
    z-index: -1;
    top: -72%;
    left: 0;
  }
}