/* || Components - Cursor hover scale
   ========================================================================== */

// 1. Features
// Cursor animation
// Spot shape following the cursor

// 2. Notes:
// Scale cursor spot on hover any element(use 'cursor-hs-scale' class on the element where 
// the mouse spot required to be scale)

.cursor-hover-scale {
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
  pointer-events: none;
  position: fixed;
  background-color: $white;
  mix-blend-mode: difference;
  z-index: 2999;
}