/* || Base - Base
   ========================================================================== */

:root {
  --font-sora: #{inspect($font-family-sora)};
  --font-playfair-display: #{inspect($font-family-pd)};
  --tertiary-600: #{inspect($tertiary-600)};
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.02);
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 40px;
}