/* || Component - Image foreground rt (roller text)
   ========================================================================== */

// 1. Features 
// Two foreground roller texts and one amoung them is tlted slightly
// Alternate image in the list of this component can be small height and 
// grayscale effect on its hover

.image-foreground-rt {}

.image-fg-rt-hover-display {
   .image-fg-rt-banner {
      opacity: 0;
      transition: opacity .3s;
   }

   &:hover {
      .image-fg-rt-banner {
         opacity: 1;
      }
   }
}

// Grayscale image
.image-fg-rt-gs {
   filter: grayscale(100%);
   transition: filter .3s;

   &:hover {
      filter: grayscale(0);
   }
}

.image-fg-rt-img {
   object-position: top;
}

.image-fg-rt-img-sm {
   transform: translateY(60px);
}

.image-fg-rt-banner-top {
   bottom: 55px;
}