/* || Page - Portfolio
   ========================================================================== */

// 1. Notes
// Each block/component with comment listed its dependencies 
// Make sure no repeated @import as it duplicate itself due to the use of @import 
// instead of @use, we will replace this aproach once start migrate to @use 
// implemented bootstrap.
// The commented @imports are already implemented in any of higher order page, 
// still placed as it is to show any component or blocks dependencies and once 
// removing any block or component it is ease to know and uncomment to the 
// dependencies
// The order of importing the following parts are mandatory

// || Optimized bootstrap imports
@import '../default';

// || Custom code
@import '../custom';

// || Common Blocks and Components 
@import '../main';

/* || Page specific Blocks and Components
   --------------------------------------------------------------------------- */

// || Block - Hero trans banner anim
@import '../components/text/text-lead-list-marker/text-lead-list-marker';
@import '../components/animation/anim-gsap/anim-gsap';
@import '../components/animation/anim-slide-in-up/anim-slide-in-up';
@import '../blocks/hero/hero-trans-banner-anim/hero-trans-banner-anim';

// Block - portfolio-metro-anim-filter (Portfolio metro animation and filter)
// @import '../components/animation/anim-gsap/anim-gsap';
@import '../components/animation/anim-swipe-in-lr-zb/anim-swipe-in-lr-zb';
@import '../blocks/portfolio/portfolio-metro-anim-filter/portfolio-metro-anim-filter';

// || Block - Footer responsive cols lead
@import '../blocks/footer/footer-resp-cols-lead/footer-resp-cols-lead';

// || Block - Hero trans banner anim

.hero-tba-portfolio {
   padding-bottom: 40px;

   @include media-breakpoint-up(sm) {
      padding-bottom: 0;
   }

   @include media-breakpoint-up(lg) {
      padding-top: 275px;
   }
}

.hero-tba-pf-tittle {
   @include media-breakpoint-up(lg) {
      font-size: 90px;
   }

   @include media-breakpoint-up(xl) {
      font-size: 120px;
   }
}

// || Themes
@import '../themes/default-theme';