/* || Block - Lead parallax bg sp (sides padding)
   ========================================================================== */

// 1. Features
// Parallax bg
// Side of parallax bg and lead block padded slightly

.lead-parallax-bg-sp {}

.lead-pbg-sp-parallax-ctr {
  height: 200px;

  @include media-breakpoint-up(md) {
    height: 250px;
  }
}

.lead-pbg-sp-parallax {
  height: 100%;

  @include media-breakpoint-up(sm) {
    height: calc(100% + 200px);
  }
}

.lead-pbg-sp-parallax-img {
  height: 200%;
  // To animate bottom to top
  bottom: 100%;
  object-position: center top;
}

.lead-pbg-sp-cnt-ctr {
  padding-top: 80px;
  padding-bottom: 80px;

  @include media-breakpoint-up(lg) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.lead-pbg-sp-cnt-bg {
  margin-left: -1240px;
}