/* || Block - Company performance stat tms
   ========================================================================== */

// 1. Features
// Responsive performance stat and testimonials slider

.company-performans-stat-tms {
  padding: 80px 0;

  @include media-breakpoint-up(lg) {
    padding: 0;
  }
}

.company-ps-tms-gx-lg-6 {
  @include media-breakpoint-up(lg) {
    --bs-gutter-x: 4rem;
  }
}

.company-ps-tms-gx-xxl-7 {
  @include media-breakpoint-up(xxl) {
    --bs-gutter-x: 6rem;
  }
}