/* || Page - Services
  =========================================================================== */


// 1. Notes
// Each block/component with comment listed its dependencies 
// Make sure no repeated @import as it duplicate itself due to the use of @import 
// instead of @use, we will replace this aproach once start migrate to @use 
// implemented bootstrap.
// The commented @imports are already implemented in any of higher order page, 
// still placed as it is to show any component or blocks dependencies and once 
// removing any block or component it is ease to know and uncomment to the 
// dependencies

// || Block - Hero trans banner anim
// @import '../components/text/text-lead-list-marker/text-lead-list-marker';
// @import '../components/animation/anim-gsap/anim-gsap';
// @import '../components/animation/anim-slide-in-up/anim-slide-in-up';
// @import '../components/banner/banner-infinite-roll/banner-infinite-roll';
// @import '../blocks/hero/hero-trans-banner-anim/hero-trans-banner-anim';

// || Block - Services cards lead icon
// @import '../components/card/card-lead-icon/card-lead-icon';
// @import '../blocks/services/services-cards-lead-icon/services-cards-lead-icon';


// || Block - Lead parallax bg sp (sides padding)
// @import '../components/link/link-hover-bg-border-trans/link-hover-bg-border-trans';
// @import '../blocks/lead/lead-parallax-bg-sp/lead-parallax-bg-sp';

// || Block - services-resp-cnt-img-pin (Services-responsive-content-image-pinning)
@import '../blocks/services/services-resp-cnt-img-pin/services-resp-cnt-img-pin';

// || Block - Services text img cols
// @import '../components/card/card-lead-icon-bg/card-lead-icon-bg';
// @import '../blocks/services/services-text-img-cols/services-text-img-cols';

// || Block - Service features aic ( accordian image component)
// @import '../components/miscellaneous/js-opacity-zero/js-opacity-zero';
// @import '../components/animation/anim-gsap/anim-gsap';
// @import '../components/accordion/accordion-anim-fade-in-up/accordion-anim-fade-in-up';
// @import '../blocks/services/service-features-aic/service-features-aic';

// || Block - Services text img cols
.services-tic-services {
  padding-top: 120px;
  padding-bottom: 100px;
  margin-bottom: 0;

  .services-tic-card {
    background: white;
  }
}

// || Block - Service features aic ( accordian image component)
.sf-aic-services {
  padding-top: 100px;
  padding-bottom: 100px;
}