// Abstracts - mixins
// =============================================================================

// || Animation

@mixin inline-animation($duration: 0.5s,
  $animation-fill-mode: false,
  $animation-timing-function: ease,
  $animation-iteration-count: 1) {
  $name: inline-#{unique-id()};

  @keyframes #{$name} {
    @content;
  }

  animation-name: $name;
  animation-duration: $duration;

  @if $animation-fill-mode {
    animation-fill-mode: $animation-fill-mode;
  }

  @if $animation-timing-function {
    animation-timing-function: $animation-timing-function;
  }

  @if $animation-iteration-count {
    animation-iteration-count: $animation-iteration-count;
  }
}

// || Links

// use this along with '%link-no-decor-outline' if required
@mixin link-basic($color: $primary,
  $color-visited: false,
  $color-focus: false,
  $color-hover: false,
  $color-active: false,
  $bg-color: false,
  $bg-color-visited: false,
  $bg-color-focus: false,
  $bg-color-hover: false,
  $bg-color-active: false,
  $outline: 2px solid $secondary,
  $cursor: pointer,
  $transition: (color 0.3s ease)) {

  @if $transition {
    transition: $transition;
  }

  @if $cursor {
    cursor: $cursor;
  }

  &:link {
    @if $color {
      color: $color;
    }

    @if $bg-color {
      background-color: $bg-color;
    }
  }

  &:visited {
    @if $color-visited {
      color: $color-visited;
    }

    @if $bg-color-visited {
      background-color: $bg-color-visited;
    }
  }

  &:focus {
    @if $color-focus {
      color: $color-focus;
    }

    @if $bg-color-focus {
      background-color: $bg-color-focus;
    }
  }

  &:focus-visible {
    @if $outline {
      outline: $outline;
    }
  }

  &:hover {
    @if $color-hover {
      color: $color-hover;
    }

    @if $bg-color-hover {
      background-color: $bg-color-hover;
    }
  }

  &:active {
    @if $color-active {
      color: $color-active;
    }

    @if $bg-color-active {
      background-color: $bg-color-active;
    }
  }
}

// || Buttons

// Make display: false if %v-h-center: true
@mixin btn-basic($color: $primary,
  $color-focus: false,
  $color-hover: false,
  $color-active: false,
  $bg-color: $secondary,
  $bg-color-focus: false,
  $bg-color-hover: false,
  $bg-color-active: false,
  $border: 1px,
  $border-radius: 4px,
  $width: auto,
  $height: auto,
  $outline: 2px solid $primary,
  $outline-offset: false,
  $cursor: pointer,
  $text-align: false,
  $display: false,
  $v-h-center: false,
  $transition: (bg-color 0.2s ease, outline 0.2s ease)) {

  @if $color {
    color: $color;
  }

  @if $bg-color {
    bg-color: $bg-color;
  }

  &:focus {
    @if $color-focus {
      color: $color-focus;
    }

    @if $bg-color-focus {
      bg-color: $bg-color-focus;
    }
  }

  &:focus-visible {
    @if $outline {
      outline: $outline;
    }
  }

  &:hover {
    @if $color-hover {
      color: $color-hover;
    }

    @if $bg-color-hover {
      bg-color: $bg-color-hover;
    }
  }

  &:active {
    @if $color-active {
      color: $color-active;
    }

    @if $bg-color-active {
      bg-color: $bg-color-active;
    }
  }

  @if $border {
    border: $border;
  }

  @if $border-radius {
    border-radius: $border-radius;
  }

  @if $width {
    width: $width;
  }

  @if $height {
    height: $height;
  }

  @if $outline-offset {
    outline-offset: $outline-offset;
  }

  @if $transition {
    transition: $transition;
  }

  @if $cursor {
    cursor: pointer;
  }

  @if $text-align {
    text-align: $text-align;
  }

  @if $display {
    display: $display;
  }

  @if $v-h-center {
    @extend %inline-flex-v-center-h-center;
  }
}

// || Animation

@mixin make-animation($duration: 0.5s,
  $animation-fill-mode: false,
  $animation-delay: false) {
  $name: anim-#{unique-id()};

  @keyframes #{$name} {
    @content;
  }

  animation-name: $name;
  animation-duration: $duration;

  @if $animation-delay {
    animation-delay: $animation-delay;
  }

  @if $animation-fill-mode {
    animation-fill-mode: $animation-fill-mode;
  }
}