/* || Block - Company tag img lead
   ========================================================================== */

// 1. Feature
// Block with image, lead, tag, sub description, tittle
// Overlaped Image design
// Sub description with tittle and icon
// Lead with icon and background circle

@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../components/image/img-overlap-tile/img-overlap-tile';

.company-tag-img-lead {
   margin-bottom: 100px;
}

.company-til-block-1 {
   margin-bottom: 100px;
}

.company-til-image-ot {
   @include media-breakpoint-down(lg) {
      margin-bottom: 100px;
      padding: 0;
   }
}

.company-til-thumbnail-wr {
   width: 50px;
   height: 50px;
   box-sizing: initial;
}