/* || Component - Banner roll color change
   ========================================================================== */

// 1. Features
// Rolling banner line of texts
// The texts in the line are alternatively colored
// Animate rolling as well animate alternate color change on texts

@import '../../../../node_modules/bootstrap/scss/variables';

.banner-roll-color-change {
   margin-top: 120px;
   margin-bottom: 80px;
}

.banner-rcc-wr {
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   padding: 33px 0;
}

.banner-rcc-items-ctr {
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   flex-shrink: 0;
}

.banner-rcc-item {
   flex-shrink: 0;
   padding: 0 25px;
}

.banner-rcc-text {
   margin: 0;
   font-size: 70px;
}

.banner-rcc-text-stroke {
   color: transparent;
   -webkit-text-stroke: 0.5px $body-color;
}

.banner-rcc-icon {
   width: 72px;
   height: 72px;
}