/* || Block - Testimonials slider statistics
   ========================================================================== */

// 1. Features
// Contain tag, slider, image frame and statistics
// Image frame designed circle with background circle element and foreground icon
// Slider of testimonial with profile, rating, testimonial and controls
// Stats are alternatively stroked texts with number and label

.tm-slider-stat {
  padding-top: 120px;
}

.tm-ss-main-cnt-ctr {
  margin-bottom: 75px;
  --animate-delay: 0.3s
}

.tm-ss-img-frame-ctr {
  width: 320px;

  @include media-breakpoint-up(xl) {
    width: 400px;
  }
}

.tm-ss-img-frame-bg,
.tm-ss-img-frame-img-wr {
  width: 225px;
  height: 225px;

  @include media-breakpoint-up(xl) {
    width: 300px;
    height: 300px;
  }
}

.tm-ss-rating-icon-ctr {
  color: #ffaa17 !important;
}

.tm-ss-tm-profile-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  object-position: top;
}

.tm-ss-swiper-btn {
  width: 50px;
  height: 50px;
}