/* || Bloack - Brands img swiper
   ========================================================================== */

// 1. Features
// Horizontal list of images with swiper

.brands-img-swiper {
   margin-top: -48px;
   margin-bottom: 120px;
}

.brands-is-swiper-ctr {
   padding-top: 53px;
   padding-bottom: 53px;
}

.brands-is-img-wr {
   padding-left: 20px;
   padding-right: 20px;
   width: 116px;
   margin: auto;
}