/* Abstracts - Variables
   ========================================================================== */

@import '../../node_modules/bootstrap/scss/variables';

// || Overriding bootstrap
// || Theme colors
// scss-docs-start theme-color-variables
$primary: #1d1d1d;
$secondary: #696969;
$tertiary: #c9f31d;
// scss-docs-end theme-color-variables

// scss-docs-start theme-colors-map
$theme-colors: map-merge($theme-colors, ("primary": $primary, "secondary": $secondary));
$custom-theme-colors: (
  "tertiary": #c9f31d
);
$theme-colors: map-merge($theme-colors, $custom-theme-colors);
// scss-docs-end theme-colors-map

// scss-docs-start theme-bg-subtle-variables
$primary-bg-subtle:       tint-color($primary, 80%);
// scss-docs-end theme-bg-subtle-variables

// || Body
// Settings for the `<body>` element.

$body-color: $primary;
$body-bg: #f1f3f5;

$body-secondary-color: $secondary;
$body-secondary-bg: $white;

$body-tertiary-color: $tertiary;
$body-tertiary-bg: #f4f4f4;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-gutter-width: 1.875rem;

// Container padding

$container-padding-x: $grid-gutter-width;

// || Typography

// scss-docs-start font-variables
$font-family-epilogue: 'Epilogue', sans-serif;
$font-family-sora: 'Sora', sans-serif;
$font-family-pd: 'Playfair Display', serif;;

$font-family-base: $font-family-epilogue;

$line-height-medium: 1.75;
// scss-docs-end font-variables

// scss-docs-start font-sizes
$custom-font-sizes: (
  12: $font-size-base * .75,
  13: $font-size-base * .8125,
  14: $font-size-base * .875,
  15: $font-size-base * .9375,
  18: $font-size-base * 1.125,
  20: $font-size-base * 1.25,
  24: $font-size-base * 1.5,
  28: $font-size-base * 1.75,
  85: $font-size-base * 5.3125,
);

// scss-docs-end font-sizes

// || Navbar
$navbar-toggler-focus-width: 0;

$navbar-light-toggler-icon-bg: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48"><path d="M142-203q-19.75 0-33.375-13.675Q95-230.351 95-251.175 95-271 108.625-284.5 122.25-298 142-298h676q19.75 0 33.875 13.675Q866-270.649 866-250.825 866-230 851.875-216.5 837.75-203 818-203H142Zm0-230q-19.75 0-33.375-13.675Q95-460.351 95-480.175 95-500 108.625-513.5 122.25-527 142-527h676q19.75 0 33.875 13.675Q866-499.649 866-479.825 866-460 851.875-446.5 837.75-433 818-433H142Zm0-229q-19.75 0-33.375-13.675Q95-689.351 95-710.175 95-730 108.625-743.5 122.25-757 142-757h676q19.75 0 33.875 13.675Q866-729.649 866-709.825 866-689 851.875-675.5 837.75-662 818-662H142Z"/></svg>');

// || Local variables

$tertiary-600: shade-color($tertiary, 20%) !default;