/* || Block - Services text img cols
   ========================================================================== */

// 1. Features
// Responsive text and image columns
// Fancy numbered list
// Card over an image with background pattern

@use 'sass:map';

.services-text-img-cols {
  margin-bottom: 120px;
}

.services-tic-desc-para {
  margin-bottom: 80px;
}

.services-tic-ol {
  list-style-type: none;
  counter-reset: li;
}

.services-tic-li {
  font-size: map.get($font-sizes, 1);
}

.services-tic-li-text {
  display: block;
  position: relative;
  padding-left: 63px;

  &::before {
    content: counters(li, '', decimal-leading-zero);
    counter-increment: li;
    position: absolute;
    left: 0;
    top: 13px;
    text-align: center;
    font-size: map.get($font-sizes, 5);
    font-weight: $font-weight-medium;
  }
}

.services-tic-img-wr {
  height: 540px;

  @include media-breakpoint-up(xl) {
    width: 75%;
    margin-left: auto;
  }
}

.services-tic-card {
  width: 95%;

  @include media-breakpoint-up(lg) {
    width: 75%;
  }

  @include media-breakpoint-up(xl) {
    width: 70%;
  }
}

// Banner infinite roll
.service-tic-banner-ir {
  margin-top: 120px;
  margin-bottom: 80px;
}