/* || Block - Hero trans banner anim
  =========================================================================== */

// 1. Features
// Block with a banner running from left to right half displayed with 
// alternative stroke texts
// The banner is slide in from down on display

.hero-trans-banner-anim {
  padding-top: 180px;

  @include media-breakpoint-up(lg) {
    padding-top: 215px;
  }
}

.hero-tba-content-ctr {
  margin-bottom: 70px;

  @include media-breakpoint-up(lg) {
    margin-bottom: 60px;
  }
}

.hero-tba-banner {
  @include media-breakpoint-up(xl) {
    height: 134px;
  }
}

.hero-tba-banner-text-font {
  @include media-breakpoint-up(sm) {
    font-size: 10vw;
  }
}