/* || Block - Hero trans banner anim
  =========================================================================== */

// 1. Features
// Block with a banner running from left to right half displayed with 
// alternative stroke texts
// The banner is slide in from down on display

.hero-trans-banner-anim {
  padding-top: 180px;
}

.hero-tba-content-ctr {
  margin-bottom: 70px;

  @include media-breakpoint-up(lg) {
    margin-bottom: 60px;
  }
}

.hero-tba-banner {
  @include media-breakpoint-up(xl) {
    clip-path: inset(0 0 62px 0);
    margin-bottom: -62px;
  }

  @media screen and (min-width: 94em) {
    clip-path: inset(0 0 95px 0);
    margin-bottom: -95px;
  }
}

.hero-tba-banner-text-font {
  @include media-breakpoint-up(sm) {
    font-size: 10vw;
  }
}